[submodule "support-markdown"]
	path = support-markdown
	url = https://github.com/AniTrend/support-markdown.git
[submodule "support-sync-plugin"]
	path = support-sync-plugin
	url = https://github.com/AniTrend/support-sync-plugin